.intro {
  background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("../images/intro_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.company_name {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  font-size: 80px;
  text-align: center;
}

.center_in_intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro .row{
  height: 100%;
}
