body {
  font-family: "Candara", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 80px;
  text-align: center;
}

.header {
  background-image: linear-gradient(rgba(138, 186, 86, 0), rgba(138, 186, 86, 0.3) 95%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;

  height: 250px ;
  display: block;
  flex-flow: row wrap;
  padding: 5px;
}

.main {
  min-height: calc(100vh - 120px - 100px);
  display: block;
  flex-flow: row wrap;
}

.footer {
  text-align: center;
  padding: 15px;
  height: 100px ;
  background-color: rgb(212, 212, 212);
  overflow: auto;
}

.footer_text{
  font-size: 30px;
}

.image_container {
  border-radius: 10px;
  background-color: aquamarine;
  padding: 0.25em;
}

.center {
  text-align: center;
}

@media (max-width: 850px){
  .main {
    display: block;
  }

  .column:nth-child(1) {
    max-width: 100%;
  }

  .column:nth-child(2) {
    max-width: 100%;
  }
}
